<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.blog.mapper.BlogCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.travel.blog.entity.BlogComment">
        <id column="id" property="id" />
        <result column="blog_id" property="blog_id" />
        <result column="user_id" property="user_id" />
        <result column="content" property="content" />
        <result column="created" property="created" />
        <result column="img" property="img" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, blog_id, user_id, content, created, img
    </sql>

</mapper>
