<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.scenic.mapper.ScenicAreaOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.travel.scenic.entity.ScenicAreaOrder">
        <id column="id" property="id" />
        <result column="order_number" property="orderNumber" />
        <result column="user_id" property="userId" />
        <result column="scenic_id" property="scenicId" />
        <result column="number" property="number" />
        <result column="single_price" property="singlePrice" />
        <result column="sum_price" property="sumPrice" />
        <result column="status" property="status" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_number, user_id, scenic_id, number, single_price, sum_price, status, is_del
    </sql>

</mapper>
