<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.travel.user.entity.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="sex" property="sex"/>
        <result column="portrait" property="portrait"/>
        <result column="phone" property="phone"/>
        <result column="is_mark" property="isMark"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, username, password, sex, portrait, phone, is_mark, status
    </sql>

    <insert id="regist">
        insert into t_user (<include refid="Base_Column_List"></include>) values(null, #{name}, #{username},
        #{password}, #{sex}, #{portrait}, #{phone}, #{isMark},#{status})
    </insert>

    <select id="login" resultMap="BaseResultMap">
        select * from t_user where username = #{username} and password = #{password}
    </select>

    <update id="updateUserById">
        update t_user
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="portrait != null and portrait != ''">
                portrait = #{portrait},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="isMark != null">
                is_mark = #{isMark},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="findById" resultMap="BaseResultMap">
        select * from t_user where id = #{id}
    </select>

</mapper>
